//设置背景图片
body {
    background: url(/images/bg.jpg); // 对应你source/images下的文件名
    background-repeat: no-repeat;
    background-attachment: fixed; // 让背景固定不动，很有质感
    background-position: 50% 50%;
    background-size: cover;      // 让图片铺满屏幕
}

// 稍微调一下透明度，不然背景太花看不清字（可选）
.main-inner {
    opacity: 0.9; 
}
.header-inner {
    opacity: 0.9;
}